@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

$primary-color: #1E1E2D;
$secondary-color: #151521;
$light-gray: #92929F;

.flex {
  display: flex;
}

.sidebar {
  width: 14rem;
  height: 100vh;
  background-color: $primary-color;
  ul {
    list-style: none;
    padding: 1rem 2rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        color: $light-gray;
        &.active {
          background-color: $secondary-color;
        }
      }
    }
  }
}

.tablas-protect {
  padding: 1rem 2rem;
  background-color: $secondary-color;
  color: $light-gray;
}

.modal-protect {
  background-color: $primary-color;
  color: $light-gray;
  &.modal-footer {
    background-color: $primary-color; // Apply primary color to modal footer background
    color: $light-gray; // Apply light gray color to modal footer text
  }
}

